<!-- 
    <button (click)="menubtnClicked()"  mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
        <mat-icon>menu</mat-icon>
        <mat-divider></mat-divider> -->
        <div>
          <!-- admin details -->
          <div class="profile">
              <img  src="https://images.pexels.com/photos/220453/pexels-photo-220453.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500" alt="no image">
              <h3>Alpha</h3>
              <h4>Alpha2535@gmail.com</h4>
          </div>

<div class="sidenav"> 
   <ul>
       <li>
            
            <a routerLink=""><mat-icon>dashboard</mat-icon> Dashboard</a>
       </li>
       <li>
       
         <a routerLink="maps">  <mat-icon>map</mat-icon> Maps</a>
        </li>
       <li>
           
            <a routerLink="charts">  <mat-icon>leaderboard</mat-icon>Charts</a>
       </li>
      <li>
           
            <a routerLink="system"><mat-icon>settings</mat-icon>System</a>
      </li>
      <li>
         
            <a routerLink="pages"> <mat-icon>layers</mat-icon>Pages</a>
      </li>
     
     
          <li>  <a routerLink="ecommerce"><mat-icon>shopping cart</mat-icon> ECommerce</a></li>
        
     
   </ul>
</div>
